<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="designpartern.minifly.com.designparttern">

    <application
        android:allowBackup="true"
        android:icon="@drawable/design"
        android:label="@string/app_name"
        android:roundIcon="@drawable/design"
        android:supportsRtl="true"
        android:theme="@style/allActivityTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/mainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".designparttern.FactoryDesignActivity" />
        <activity android:name=".algorithm.AlgorithmAjldActivity" />
        <activity android:name=".algorithm.SearchBinaryActivity" />
        <activity android:name=".algorithm.SortingInsertActivity" />
        <activity android:name=".algorithm.SortingBubbleActivity" />
        <activity android:name=".algorithm.SortingShellActivity" />
        <activity android:name=".algorithm.SortingMergeActivity"></activity>
        <activity android:name=".algorithm.AlgorithmFBNQDataActivity"></activity>
    </application>

</manifest>